$red-dark: #451426;
$red-md: #611C35;
$red-light: #AD325F;

$drk-blue-dark: #35305C;
$drk-blue-md: #453F78;
$drk-blue-light: #7167C4;

$lgt-blue-dark: #40868D;
$lgt-blue-md: #4DA1A9;
$lgt-blue-light: #70EAF5;

$grey-dark: #61605F;
$grey-md: #7D7C7A;
$grey-light: #C9C8C5;

$lgt-brown-dark: #ADA689;
$lgt-brown-md: #C9C19F;
$lgt-brown-light: #D6CDA9;
