@import 'colors';

html {
  height: 100%;
}

body {
  background: $brand-dk-blue;
  background: -webkit-linear-gradient(
    to bottom right,
    $brand-dk-blue-2,
    $brand-md-blue,
    $brand-green
  );
  background: -moz-linear-gradient(
    to bottom right,
    $brand-dk-blue-2,
    $brand-md-blue,
    $brand-green
  );
  background: -ms-linear-gradient(
    to bottom right,
    $brand-dk-blue-2,
    $brand-md-blue,
    $brand-green
  );
  background: -o-linear-gradient(
    to bottom right,
    $brand-dk-blue-2,
    $brand-md-blue,
    $brand-green
  );
  background: linear-gradient(
    to bottom right,
    $brand-dk-blue-2,
    $brand-md-blue,
    $brand-green
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: grid;
  grid-gap: 3rem;
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 75px;
  min-height: 100vh;
}

h1 {
  font-family: 'Merriweather', serif;
}

h2,
h3 {
  font-family: 'Archivo Bold', sans-serif;
  font-weight: 900;
}

p,
a,
span {
  font-family: 'Roboto', sans-serif;
}

.background-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 80%;
  width: auto;
  z-index: -1;
}

.background-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80%;
  width: auto;
  z-index: -1;
}

.site-header {
  grid-area: header;
  display: grid;
  grid-template-areas: '. name social';
  grid-template-columns: 1fr 1.3fr 1fr;
  align-items: center;
  justify-items: center;
  position: fixed;
  z-index: 5;
  height: 100px;
  width: 100%;

  .title-wrapper {
    grid-area: name;
    width: 100%;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-image: -moz-linear-gradient(
      left,
      $brand-beige 0%,
      $brand-black 10%,
      $brand-dk-blue 50%,
      $brand-md-blue 75%,
      transparentize($brand-lt-blue, 0.9) 100%
    ) 100% 1 stretch;
    border-image: -webkit-linear-gradient(
      left,
      $brand-beige 0%,
      $brand-black 10%,
      $brand-dk-blue 50%,
      $brand-md-blue 75%,
      transparentize($brand-lt-blue, 0.9) 100%
    ) 100% 1 stretch;
    border-image: linear-gradient(
      90deg,
      $brand-beige 0%,
      $brand-black 10%,
      $brand-dk-blue 50%,
      $brand-md-blue 75%,
      transparentize($brand-lt-blue, 0.9) 100%
    ) 100% 1 stretch;

    .site-title {
      color: $brand-white;
      font-size: 250%;
      letter-spacing: 0.2rem;
      margin: 0;
      padding: 0;
      text-shadow: 1px 1px 2px $brand-black;
    }
  }

  .social-links {
    grid-area: social;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        font-size: 150%;
        margin: 0rem 0.75rem;

        i {
          color: $brand-black;
        }
      }
    }
  }
}

.main-callout {
  grid-area: content;

  .headshot {
    position: relative;
    float: right;
    margin: -4rem -4rem 0 0;

    img {
      border-radius: 50%;
      box-shadow: 0 0 5px $brand-black;
      height: 250px;
      width: 250px;
    }
  }

  .about-me {
    background-color: $brand-dk-blue-2;
    border-radius: 25px;
    box-shadow: 0 0 10px $brand-black;
    margin: auto;
    padding: 2rem;
    width: 40%;

    h2 {
      color: $brand-beige;
      text-shadow: 1px 1px 1px $brand-md-blue;
      margin-top: 0;
    }

    p {
      color: $brand-white;
    }

    a {
      color: lighten($brand-green, 10%);
      text-decoration-style: wavy;
    }
  }
}

.site-footer {
  grid-area: footer;
  text-align: center;
  margin: auto;

  a {
    color: $brand-white;
    text-decoration: none;
  }

  p {
    color: $brand-white;
    margin: 0.5rem 0;
  }
}

/* ************************************* */
/* ********** Media Queries ************ */
/* ************************************* */

@media (max-width: 1300px) {
  .background-top, .background-bottom {
    height: 60%;
  }
}

@media (max-width: 1110px) {
  .site-header {
    background-color: transparentize($brand-dk-blue-2, 0.1);
    grid-template-areas:
      'name'
      'social';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 0.5rem;
    padding: 0.5rem 0;

    .title-wrapper {
      text-align: center;
      width: auto;
    }

    .social-links {
      ul {
        li {
          i {
            color: $brand-white;
          }
        }
      }
    }
  }

  .main-callout {
    margin-top: 1rem;

    .about-me {
      width: 60%;
    }
  }
}

@media (max-width: 745px) {
  .main-callout {
    .headshot {
      margin: -3.5rem -3.5rem 0 0;

      img {
        height: 175px;
        width: 175px;
      }
    }

    .about-me {
      width: 70%;
    }
  }
}

@media (max-width: 575px) {
  .background-top, .background-bottom {
    height: 50%;
  }
}

@media (max-width: 500px) {
  .main-callout {
    .headshot {
      margin: -3.5rem 0 1rem 0;
      float: none;
      text-align: center;
    }
  }
}