@import 'colors';

html {
  height: 100%;
}

body {
  background: $brand-dk-blue;
  background: -webkit-linear-gradient(
    to top right,
    $brand-dk-blue,
    $brand-lt-blue,
    $brand-green
  );
  background: -moz-linear-gradient(
    to top right,
    $brand-dk-blue,
    $brand-lt-blue,
    $brand-green
  );
  background: -ms-linear-gradient(
    to top right,
    $brand-dk-blue,
    $brand-lt-blue,
    $brand-green
  );
  background: -o-linear-gradient(
    to top right,
    $brand-dk-blue,
    $brand-lt-blue,
    $brand-green
  );
  background: linear-gradient(
    to top right,
    $brand-dk-blue,
    $brand-lt-blue,
    $brand-green
  );
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: grid;
  grid-template-areas:
    'header header'
    'content projects'
    'footer footer';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 1fr 75px;
}

h1 {
  font-family: 'Merriweather', serif;
}

h2,
h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-style: oblique;
  font-weight: 200;
}

p,
a,
span {
  font-family: 'Nunito Sans', sans-serif;
}

.background-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 80%;
  width: auto;
  z-index: -1;
}

.background-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80%;
  width: auto;
  z-index: -1;
}

.site-header {
  grid-area: header;

  .title-wrapper {
    .site-title {
      color: $brand-white;
    }
  }
}

.main-callout {
  grid-area: content;
  height: 100%;
  width: 1fr;
  padding: 4rem;

  .about-me {
    background-color: $brand-md-blue;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px darken($brand-dk-blue, 20%);

    h2 {
      color: $brand-beige;
    }

    p {
      color: $brand-white;
    }
  }
}
